<a href="https://colab.research.google.com/github/eli576/USFQ_Python/blob/main/Python_Ej_Clase_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#lista de frutas
frutas = ["manzana", "banana", "cereza", "naranja", "pera"]

#acceder a elementos de la lista
print(frutas[0]) # "manzana" (primer elemento)
print(frutas[-1]) # ultimo elemento de la lista

manzana
pera

In [2]:
#modifircar un elemento de la lista
frutas[1] = "sandia"

#agregar nuevo elemento
frutas.append("uva")

#imprimir la lista acutalisada
print(frutas)

['manzana', 'sandia', 'cereza', 'naranja', 'pera', 'uva']

Ejercicio 1: crea una lista con los nombres de 5 paises

In [4]:
#lista de paises
paises = ["ecuador", "alemania", "inglaterra", "francia", "españa"]
print(paises [0])
print(paises[-1])

ecuador
españa

In [6]:
#splicing
#al reves
palabra = "holaholahola"
print(palabra[::-1])

alohalohaloh

In [7]:
for x in paises:
  print("uno de los paises es:", x)

uno de los paises es: ecuador
uno de los paises es: alemania
uno de los paises es: inglaterra
uno de los paises es: francia
uno de los paises es: españa

In [8]:
print(paises[0][0])

e

In [10]:
numeros = [3,7, 10, 15, 20]
for num in numeros:
  print("el numero:", num.double())

AttributeError: 'int' object has no attribute 'double'

In [ ]:
numeros = 2, 4, 6, 8
dobles []
for nimin numeros:
    dobles. append

In [20]:
numeros = [3, 7, 10, 15, 20, 22, 30]
pares = []
for num in numeros:
  if num%2 == 0:
    pares.append(num)
    print(pares)
  else:
    print ("error")

error
error
[10]
error
[10, 20]
[10, 20, 22]
[10, 20, 22, 30]

In [24]:
numeros2 = [35, 60 ,80, 45 ,95 , 70]
mayor = []
for num in numeros2:
  if num>50:
    numeros2.drop()

AttributeError: 'list' object has no attribute 'drop'

In [26]:
palabras = ["sol", "manana", "cielo", "rio", "laguna"]
contador = 0
for palabra in palabras:
  if len(palabra) > 4:
    contador +=1
#contador = contador = 1
#o econtador += 1

In [34]:
num = [12, 8, 95, 43, 23, 54, 17, 15, 60, 36]
mult3 = []
mult4 = []
mult5 = []
mutt = []

for num in num:
  if num%3 == 0:
    mult3.append(num)
  if num%4 == 0:
    mult4.append(num)
  if num%5 == 0:
    mult5.append(num)
  if num%3 != 0 and num%4 != 0 and num%5!=0:
    mutt.append(num)
print (mult3, mult4, mult5, mutt)

[12, 54, 15, 60, 36] [12, 8, 60, 36] [95, 15, 60] [43, 23, 17]

In [42]:
lista = range(1,101)
print(lista)

for x in range(0,101,5):
  print(x)

range(1, 101)
0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100